# 1. NUMBER

In [2]:
x=10

In [3]:
y=12

In [4]:
x*y

120

In [6]:
x=10

In [7]:
type()

TypeError: type() takes 1 or 3 arguments

In [9]:
type(x)

int

In [10]:
x=10.25

In [11]:
type(x)

float

In [12]:
x=25j

In [13]:
type(x)

complex

In [1]:
num = 10>9

In [2]:
type(num)

bool

In [3]:
num

True

# 2.STRING

In [4]:
name= 'edureka'

In [5]:
len(name)

7

In [6]:
name[2]

'u'

In [7]:
name[2] = 'd'

TypeError: 'str' object does not support item assignment

In [8]:
name[2:8]

'ureka'

In [9]:
name[2:7]

'ureka'

In [10]:
name[2:6]

'urek'

In [11]:
name.upper()

'EDUREKA'

In [12]:
name.lower()

'edureka'

In [14]:
name[-2]

'k'

In [17]:
name[2] == 'd'

False

In [15]:
name[5]

'k'

# 3.LIST

In [18]:
mylist=[10,20,30,'harsh','ranjan']

In [19]:
mylist

[10, 20, 30, 'harsh', 'ranjan']

In [20]:
mylist[2:5]

[30, 'harsh', 'ranjan']

In [21]:
mylist[2]

30

In [22]:
mylist[2]= 35

In [23]:
mylist

[10, 20, 35, 'harsh', 'ranjan']

In [24]:
mylist.append(10)

In [25]:
mylist

[10, 20, 35, 'harsh', 'ranjan', 10]

In [26]:
mylist.insert(5,100)

In [27]:
mylist

[10, 20, 35, 'harsh', 'ranjan', 100, 10]

# 4.DICTIONARY

In [28]:
courese= {1:'python',2:'data science','third':'machine learning'}

In [29]:
courese

{1: 'python', 2: 'data science', 'third': 'machine learning'}

In [33]:
courese['third']

'machine learning'

In [34]:
courese.get('third')

'machine learning'

In [35]:
courese['third']='hadoop'

In [36]:
courese

{1: 'python', 2: 'data science', 'third': 'hadoop'}

In [37]:
courese['four']='machine learning'

In [38]:
courese

{1: 'python', 2: 'data science', 'third': 'hadoop', 'four': 'machine learning'}

# 5.TUPPLES

In [1]:
animal=(10,10,20,'tiger','lion','giraffe','tiger')

In [2]:
animal

(10, 10, 20, 'tiger', 'lion', 'giraffe', 'tiger')

In [3]:
animal[2]

20

In [4]:
animal.count('tiger')

2

# 6.SET

In [5]:
myset= {10,20,30,40,40,30,'harsh','ranjan'}

In [6]:
myset

{10, 20, 30, 40, 'harsh', 'ranjan'}

In [8]:
range(10)

range(0, 10)

In [9]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# MISCELLANIOUS

In [10]:
a={1,2,3,4}

In [11]:
b={4,5,6,4,6}

In [12]:
c=[a,b]

In [13]:
c

[{1, 2, 3, 4}, {4, 5, 6}]

# # TYPE CONVERSION

In [14]:
x=10

In [15]:
name='name'

In [16]:
x + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
str(x)+name

'10name'

In [18]:
list(b)

[4, 5, 6]